h1 {
  margin-bottom: 50px;
  text-align: center;
  font-family: century gothic
}

div{
  
  margin-bottom: 10px;
  background-color: white;
}


section {
  border: 1px solid black;
  background-color: #00b2f4;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: comic sans ms;
  color: black;

}
#p0{
  float:right;
  border: 1px solid black;
  background-color: #A52A2A; 
  width:30%;
  margin-right: auto;
  margin-left: auto;
  font-family: comic sans ms;
  color: white;
  text-align: center;
  }

#p1
{
clear: right;
margin-right: auto;
margin-left: 10px;
}